<ol>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Azua">Azua</a></li>
    <ul>
        <li>Senadora: Lia Diaz </li>
        <li>Poblacion: 298,246</li>
        <img src="../assets/">
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona">Barahona</a></li>
    <ul>
        <li> Senador: José Manuel del Castillo Saviñón </li>
        <li> Población: 226,898 <li>
        </ul>  
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco">Bahoruco</a></li>
    <ul>
        <li>Senador: Jose Savinon</li>
        <li>Poblacion: 226,898 </li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Dajabón">Dajabon</a></li>
    <ul>
        <li> Senador: David Sosa </li>
        <li> Población: 67,887 </li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional_(República_Dominicana)">Distrito Nacional</a></li>
    <ul>
        <li> Senador: Faride Raful </li>
        <li> Población: 1,484,789 </li>

    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
    <ul>
        <li> Senador: Franklin Romero Morillo </li>
        <li> Población: 384,789 </li>

    </ul>
    <li><a href="https://es.wikipedia.org/wiki/El%C3%ADas_Piña">Elias Pina</a></li>
    <ul>
        <li> Senador: Aris Yván Lorenzo Suero</li>
        <li> Población: 70,589 </li>
    </ul>        
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
    <ul>
        <li> Senador: Santiago Jose Zorrilla </li>
        <li> Población: 115,889 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Espaillat">Espalliat</a></li>
    <ul>
        <li> Senador: Carlos Gómez </li>
        <li> Población: 390,478</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor">Hato Mayor</a></li>
    <ul>
        <li> Senador: Cristobal Castillo </li>
        <li> Población: 89,578</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal_(provincia)">Hermanas Mirabal</a></li>
    <ul>
        <li> Senador: Luis Canaán</li>
        <li> Población: 103,974 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Independencia_(República_Dominicana)">Independencia</a></li>
    <ul>
        <li> Senador: Valentín Medrano</li>
        <li> Población: 54,785 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/La_Altagracia">La Altagracia</a></li>
    <ul>
        <li> Senador: Virgilio Cedano</li>
        <li> Población: 335,677 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/La_Romana_(provincia)">La Romana</a></li>
    <ul>
        <li> Senador: Iván Fernández</li>
        <li> Población: 330,587 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega">La Vega</a></li>
    <ul>
        <li> Senador: Ramón Durán</li>
        <li> Población: 420,478 </li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez_(provincia)">Maria Trinidad Sanchez</a></li>
    <ul>
        <li> Senador: Alexis Yeb</li>
        <li> Población: 140,784</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Monseñor_Nouel_(provincia)">Monsenor Nouel</a></li>
    <ul>
        <li> Senador: Héctor Acosta</li>
        <li> Población: 201,474</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Montecristi_(provincia)">Monte Cristi</a></li>
    <ul>
        <li> Senador: Ramón Gómez</li>
        <li> Población: 135,710</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Plata">Monte Plata</a></li>
    <ul>
        <li> Senador: Lenin López</li>
        <li> Población: 200,454</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Pedernales_(provincia)">Pedernales</a></li>
    <ul>
        <li> Senador: Dionis Carrasco</li>
        <li> Población: 38,941</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Peravia">Peravia</a></li>
    <ul>
        <li> Senador: Milcíades Franjul</li>
        <li> Población: 298,747</li>
        </ul>
        
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata">Puerto Plata</a></li>
    <ul>
        <li>Senadora: Ginette Bournigal</li>
        <li>Poblacion: 510 262</li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Samaná">Samana</a></li>
    <li><a href="https://es.wikipedia.org/wiki/San_Cristóbal_(provincia)">San Cristobal</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_José_de_Ocoa">San Jose de Ocoa</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(República_Dominicana)"></a>San Juan</li>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs"></a>San Pedro de Macoris</li>
    <li><a href="https://es.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_(provincia)"></a>Sanchez Ramirez</li>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(República_Dominicana)"></a>Santiago</li>
    <li><a href="https://es.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_(provincia)"></a>Santiago Rodriguez</li>
    <li><a href="https://es.wikipedia.org/wiki/Santo_Domingo_(provincia)"></a>Santo Domingo</li>
    <li><a href="https://es.wikipedia.org/wiki/Valverde_(República_Dominicana)"></a>Valverde</li>
    
</ol>
